.Container{
    position:relative;
    height: 600px;
}

.Picture{
    position: absolute;
    margin: 0 auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /*Hide what falls outside of the div*/
    width: 380px;
    height: auto;
    border-radius: 20%;
}

.Caption{
    position: absolute;
    top: 75%;
    left: 0%;
    right: 0%;
    text-align: center;
}

.Caption p{
    font-family: Optima;
    font-size: 30px;
    color: rgb(54, 136, 243);
}

.EasterEgg{
    display: none;
}

.pfp:hover + .EasterEgg{
    display: block;
    font-family: Optima;
    text-align: center;
    color: rgb(54, 136, 243);
    padding-left: 20px;
    padding-right: 20px;
}

/* Links */
p a{
    text-decoration: underline;
}

p a:hover{
    color:rgb(149, 189, 241);
}
